

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#trayectoria {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c547f6;
    border-radius: 20px;
    padding: 1rem 0rem;
}
.mystery{
    width: 200px;
    border-radius: 20px;
}
/* Añade esto a tu archivo CSS o dentro de una etiqueta <style> en el HTML */
.ocultar {
    display: none;
}
#equipos{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#equipos div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los años debajo del escudo */
    margin: 0 10px; /* Añadir espacio entre los conjuntos de escudo y años */
}
#equipos div p{
    align-self: center;
    margin-block-end: 0em;
}
#fotos{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
#trayectoria img {
    object-fit: contain; /* Asegura que la imagen se escale dentro del contenedor sin recortarse */
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin: 0 5px; /* Espaciado entre los escudos */
}

input {
    padding: 10px;
    font-size: 16px;
}

p {
    font-weight: bold;
}

#respuesta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Responsive: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    #trayectoria {
        width: 90%;
        padding: 1rem;
        flex: 1 1 0;
    }

    #equipos div {
        margin: 5px 10px;
    }

    #trayectoria img {
        width: 30px;
        height: 30px;
        flex: 1 1 0;
    }

    input {
        width: 90%;
        font-size: 14px;
    }

    button {
        width: 90%;
        padding: 8px;
    }

    p {
        font-size: 16px;
    }
}
