:root {
    /* Colores principales */
    --color-primario: purple;
    --color-secundario: #480048;

    /* Colores neutrales */
    --color-detalles: #ffffff;
    --color-texto: #000000;
    --color-gray-light: #ecf0f1;
    --color-gray-dark: #7f8c8d;

    /* Colores de alerta */
    --color-danger: #e74c3c; /* Rojo */
    --color-warning: #f39c12; /* Naranja */
    --color-success: #2ecc71; /* Verde */
}
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-y: auto;
    z-index: -1; /* Colocamos el pseudo-elemento detrás del contenido del botón */
    /*animation: movimientoOlas 10s ease-in-out infinite;*/
    color: var(--color-detalles);
    overflow-x: hidden;
    background-image: url("../img/fondo cesped.jpg.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-color: rgba(128, 0, 128, 0.5); /* Color negro con transparencia */
    background-blend-mode: color-dodge; /* Modo de mezcla */
    min-height: 100vh;
}
/* Estilos de la barra de scroll */
/* Estilo general para la scrollbar */
html::-webkit-scrollbar {
    display: none; /* Ancho de la scrollbar */
}
h1{
    text-align: center;
    margin-top: unset;
    font-family: "Bauhaus 93", sans-serif;
}
body.loading{
    display: none;
}
body>div.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body>div.cont button{
    margin: 0;
}
body>div.cont label{
    margin: 0 20px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3.17%;
    color: white;
    z-index: 5;
    font-family: 'Bauhaus 93', sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
}
header nav{
    padding: 0 3.17%;
}
header img{
    width: 125px;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: unset;
}
header ul li{
    margin: 0 5%;
    list-style: none;
}
header .botones a{
    color: var(--color-detalles);
    padding-inline: 10px;
    text-decoration: none;
}
header .botones a:hover{
    text-decoration: none;
    color: var(--color-texto);
}
header .icono-hamburguesa{
    display: none;
}
h1,p{
    color: white;
}
button{
    border-radius: 20px;
    height: 35px;
    border: none;
    width: 100px;
    color: white;
    font-weight: bold;
    background: purple;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    background: rgba(128, 0, 128, 0.3);
    border: 2px solid purple;
    border-radius: 20px;
    color: white;
}
input::placeholder{
    color:white;
}
/* Basic modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--color-secundario);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--color-primario);
    width: 80%;
    max-width: 600px;
    color: white;
}
.modal-content #jugadoraList{
    list-style: none;
    background-color: var(--color-primario);
    margin: 0 auto;
    width: 100%;
    padding-inline-start: 0;
}
.modal-content #jugadoraList .jugadora-option{
    border-top: 1px solid #480048;
    border-bottom: 1px solid #480048;
    padding-inline-start: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-close {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}
#trayectoria .flip-container {
    perspective: 1000px;
    width: 150px;
    height: 125px;
    position: relative;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    transform-style: preserve-3d;
}

.flipping {
    transform: rotateY(180deg); /* Voltea 180 grados para revelar la parte trasera y se mantiene ahí */
}

.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; /* Oculta la parte trasera cuando no se está viendo */
}

.front {
    z-index: 2; /* Mostrar primero la cara frontal */
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg); /* La parte trasera está volteada inicialmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disabled {
    pointer-events: none; /* No permite hacer clic */
    opacity: 0.8; /* Aplica un efecto visual para parecer deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al de "no permitido" */
}
/* Estilos para el menú hamburguesa */
.hamburger-menu {
    display: none; /* Oculto por defecto */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    z-index: 50;
}
.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background: var(--color-detalles);
}
/* Transformaciones para la cruz */
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
/* Menú desplegable */
.dropdown-menu {
    display: none;
    flex-direction: column;
    background: none;
    /* background-image: url(../img/fondo cesped.jpg.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-color: rgba(128, 0, 128, 0.5); */
    background-blend-mode: color-dodge;
    /* position: fixed; */
    top: 10vh;
    width: 100%;
    height: 100%;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: right 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: unset;
    border: none;
}
.dropdown-menu div {
    padding: 10px
}

.dropdown-menu div a{
    text-decoration: none;
    color: var(--color-detalles);
}

/* Selecciona cualquier ID que empiece con "racha-" */
[id^="racha-"] {
    position: absolute;
    z-index: 50;
    right: 0;
    top: -30px;
    background-image: url(".././img/fuego.gif");  /* Fondo con el GIF */
    background-size: cover;  /* Para que el GIF cubra completamente el área del div */
    background-position: bottom; /* Alinea el GIF al centro */    padding: 15px;
    width: 90px;           /* Ancho del círculo */
    height: 100px;          /* Alto del círculo (igual que el ancho) */
    /*border-radius: 50%;    /* Hace que el fondo sea un círculo */
    font-size: 25px;
    display: flex;         /* Usamos flexbox para centrar el contenido */
    align-items: center;   /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    opacity: 0;
}

@media (max-width: 768px){
    header .container .botones{
        display: none;
    }
    .hamburger-menu{
        display: flex;
    }
    header{
        position: fixed;
    }
}
@media (max-width: 650px) {
    body>div.cont{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
