:root {
    /* Colores principales */
    --color-primario: purple;
    --color-secundario: #480048;

    /* Colores neutrales */
    --color-detalles: #ffffff;
    --color-texto: #000000;
    --color-gray-light: #ecf0f1;
    --color-gray-dark: #7f8c8d;

    /* Colores de alerta */
    --color-danger: #e74c3c; /* Rojo */
    --color-warning: #f39c12; /* Naranja */
    --color-success: #2ecc71; /* Verde */
}
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #480048;
    margin: 0;
    overflow-y: auto;
    z-index: -1; /* Colocamos el pseudo-elemento detrás del contenido del botón */
    /*animation: movimientoOlas 10s ease-in-out infinite;*/
    color: var(--color-detalles);
}
body.loading{
    display: none;
}
body>div.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body>div.cont button{
    margin: 0;
}
body>div.cont label{
    margin: 0 20px;
}
header{
    width: 100%;
    height: 15vh;
    /*background: rgba(128,0,128,0.25);*/
    align-content:  center;
    border-bottom: 2px solid white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
}
header button{
    background: none;
    height: unset;
}
header button svg{
    width: 50px;
    height: auto;
}
header .botones a{
    text-decoration: none;
    padding: 10px;
    /*background: #dddddd;*/
    border-radius: 20px;
    color: var(--color-detalles);
}
h1{
    margin-top: 7.5vh;
}
h1,p{
    color: white;
}
header img{
    height: 10vh;
}
button{
    border-radius: 20px;
    height: 35px;
    border: none;
    width: 100px;
    color: white;
    font-weight: bold;
    background: purple;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    background: rgba(128, 0, 128, 0.3);
    border: 2px solid purple;
    border-radius: 20px;
    color: white;
}
input::placeholder{
    color:white;
}
/* Basic modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--color-secundario);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--color-primario);
    width: 80%;
    max-width: 600px;
    color: white;
}
.modal-content #jugadoraList{
    list-style: none;
    background-color: var(--color-primario);
    margin: 0px auto;
    width: 100%;
    padding-inline-start: 0;
}
.modal-content #jugadoraList .jugadora-option{
    border-top: 1px solid #480048;
    border-bottom: 1px solid #480048;
    padding-inline-start: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-close {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}
#trayectoria .flip-container {
    perspective: 1000px;
    width: 150px;
    height: 125px;
    position: relative;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    transform-style: preserve-3d;
}

.flipping {
    transform: rotateY(180deg); /* Voltea 180 grados para revelar la parte trasera y se mantiene ahí */
}

.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; /* Oculta la parte trasera cuando no se está viendo */
}

.front {
    z-index: 2; /* Mostrar primero la cara frontal */
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg); /* La parte trasera está volteada inicialmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disabled {
    pointer-events: none; /* No permite hacer clic */
    opacity: 0.8; /* Aplica un efecto visual para parecer deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al de "no permitido" */
}
