table{
    /*width: 80%;*/
    /*height: 560px;*/
    /*background-color: rgba(128,0,128,0.5);*/
    background-image: url("../img/imagen_2024-09-17_194038826.png"),linear-gradient(rgba(128,0,128),rgba(128,0,128));
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    border: 1px solid #ddd;
    border-radius: 25px;
    border-collapse: unset;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
tbody{
    width: -webkit-fill-available;
}
tr{
    display: flex;
    justify-content: space-around;
}
td.activado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
td{
    display: none;
    width: 100px;
    height:  30px;
    margin: 30px 20px;
    border-radius: 10px;
    /*border: 1px solid #ddd;*/
    align-content: center;
}
td div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
td div img{
    width: 50px;
    z-index: 3;
    border-radius: 25px;
    background: #ddd;
}
td div p{
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    /* text-align: center; */
    margin-top: -12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-shadow: 1px  0 0 black,
    0  1px 0 black,
    -1px  0 0 black,
    0 -1px 0 black;
}
.pista{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
}
.pista img{
    width: 50px;
    height: 60px;
    display: block;
}
.pista p{
    margin: 0;
}
#sugerencias{
    max-height: 125px;
    overflow-y: scroll;
}
#sugerencias::-webkit-scrollbar{
    color: var(--color-primario);
}
@media (max-width: 650px) {
    table{
        width: 80%;
        height: 70%;
        justify-content: center;
    }
    td.activado{
        margin: 20px 10px;
        align-items: center;
        width: fit-content;
    }
    td div p{
        width: 130%;
    }
    td div img{
        width: 40px;
    }
    tbody{
        width: -webkit-fill-available;
    }
}


