body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #480048;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}
header{
    width: 100%;
    background: purple;
    height: 15vh;
    align-content:  center;
    border-bottom: 2px solid white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 10vh;
}
button{
    border-radius: 20px;
    height: 35px;
    border: none;
    width: 75px;
}

.oculto{
    border: none;
    background: none;
}
th{
    background: purple;
}
th, td {
    border: 1px solid #ddd;
    padding: 0px;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#c11 img {
    display: block;
}
#c12 img {
    display: block;
}
#c13 img {
    display: block;
}
#c21 img {
    display: block;
}
#c22 img {
    display: block;
}
#c23 img {
    display: block;
}
#c31 img {
    display: block;
}
#c32 img {
    display: block;
}
#c33 img {
    display: block;
}

input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
